[submodule "vendor/linux-wasm"]
	path = vendor/linux-wasm
	url = https://github.com/joelseverin/linux-wasm.git
[submodule "vendor/nemunemu"]
	path = vendor/nemunemu
	url = https://github.com/kitty-crow/nemunemu.git
